html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-size:100%;
    background-image: url('http://subtlepatterns.com/patterns/escheresque.png');
    margin: 0;
    min-width: 530px;
}

.page-header {
    padding-top: 5%;
}

.page-header .title,
.page-header .tagline {
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

.page-header .title {
    font-size: 6em;
    background-color: white;
    margin: 0;
    box-shadow: 0 10px 5px rgba(100, 100, 100, 0.1),
        0 -5px 3px rgba(100, 100, 100, 0.1);
    border-bottom: 5px solid #53bf6b;
    color: #53bf6b;
}

strong {
    font-weight: 700;
}

.page-header .tagline {
    font-size: 1.5em;
    margin: 20px 0 0;
}

.page-header .github-icon a:link,
.page-header .github-icon a:visited {
    color: rgba(50, 50, 50, 0.1);
}

.page-header .github-icon a {
    text-decoration: none;
    font-size: 8em;
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.5),
        0 -1px 1px rgba(210, 210, 210, 0.5);
    transition: color 1000ms ease;
}

.page-header .github-icon a:hover,
.page-header .github-icon a:active {
    transition: color 1000ms ease;
    color: rgba(83, 191, 107, 1);
}

.page-header .github-icon {
    text-align: center;
    margin-top: 10px;
}
